<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
        
        <div class="title">Spinz Music App</div>
        
        <div class="userinput">
            <h1>Music Playlist</h1>
            
            <div class="welcomebuttons">
                <a href="/auth/signup">Sign Up</a>
                <a href="/auth/login">Log In</a>
            </div>
        
        </div>

    </body>

</html>